body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    
}

.container-fluid {
    height: 100vh;
}

.row {
    height: 100%;
}

.img-fluid {
    object-fit: cover;
}

.login-form, .register-form, .add-product-form, .edit-product-form {
    max-width: 400px;
    padding: 2rem;
}

.navbar-brand {
    font-weight: bold;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.showproducts h2 {
    font-weight: bold;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    
}

.card-body p {
    margin: 0.5rem 0;
}

.card-body .btn {
    width: 100%;
   
}
.invalid-feedback {
    display: block;
    color: red;
    font-size: 0.875rem;
}

.purchased {
    border: 1px solid green;
  }
  .btn img {
    display: block;
    margin: auto;
  }

  /* Personnaliser le bouton "OK" */
.custom-confirm-button {
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Supprimer les bordures par défaut */
  }
  
  .custom-confirm-button:hover {
    background-color: #45a049; /* Couleur de fond lors du survol */
  }
  
  
  /* .btn-danger {
    background-color: #ff4c4c;
    border-color: #ff4c4c;
  }
  
  .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
  } */
  
  /* .btn-danger:hover, .btn-warning:hover {
    opacity: 0.8;
  } */
  

/* Media queries for larger screens */
@media (min-width: 768px) {
    .card-body .btn {
        width: 45%;
    }
    
    .d-none.d-md-block {
        display: block !important;
    }
    .my-auto {
        padding: 2rem;
    }
}

